<div id="content">
  <h1>Applicants in Region: <%= @region.name %> (<%= @year %>)</h1>
  
  <h2>Ready Applications</h2>
  
    <%= render :partial => 'applicants', :locals => {:apps => @ready_apps} %>
  
  <h2>In Process Applications</h2>
  
  <%= render :partial => 'applicants', :locals => {:apps => @in_process_apps} %>

  <h2>Started Applications</h2>

  <%= render :partial => 'applicants', :locals => {:apps => @started_apps} %>
</div>
