#meta {
  height: 27px;
  background: #bbb;
  padding: 9px;
}

#meta li {
  font-family: arial;
  font-size: 14px;
  float: left;
  font-weight: bold;
  padding: 0 9px;
}

#meta li span {
  display: block;
  line-height: 9px;
  font-size: 11px;
}

#meta.started {
  background: #dff1c9;
  border-bottom: solid 1px #cce2b4;
}

#meta.started li {
  color: #549110;
  border-right: solid 1px #cce2b4;
}

#meta.started li span {
  color: #98b275;
}

#meta.submitted {
  background: #666;
  border-bottom: solid 1px #666;
}

#meta.submitted li {
  color: #fff;
  border-right: solid 1px #999;
}

#meta.submitted li span {
  color: #ccc;
}

#link-log-out {
  float: right;
  margin: 9px 18px;
}

#main {
  overflow:hidden;
  width:100%;
}

#page_ajax_spinner {
  position: absolute;
  top: -52px;
  width: 1000px;
}

#page_ajax_spinner div {
  -moz-box-shadow:0 0 10px #666666;
  -webkit-box-shadow:0 0 10px #666666;
  box-shadow:0 0 10px #666666;
  background:none repeat scroll 0 0 #FFFFFF;
  border:2px solid #411E08;
  color:#411E08;
  margin:0 auto;
  padding:10px;
  text-align:center;
  width:200px;
}

#footerwrap {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

div.warningText {
  color: red;
}

label.error {
  font-size: 11px;
  color: red;
}

input.error[type=text],
input.error[type=password] {
  border: 1px solid red;
  background: #FFEAEA;
  margin-top: -1px;
}

table.grid tr.error {
  background: #FFEAEA;
}

table.grid tr.error td {
  color: red;
}

table.grid tr.error label.error {
  display: none;
}

#errorExplanation {
  border: 1px solid red;
  padding: 10px 15px;
  margin-bottom: 1em;
}

#errorExplanation h2 {
  font-size: 16px;
  margin-top: 0;
}

#errorExplanation ul {
  margin: 0;
  padding: 0 2em;
  list-style: circle;
}

#errorExplanation ul li {
  list-style: disc;
}

.field_with_errors label {
  color: red;
  font-weight: bold;
}

.field_with_errors input {
  border-color: red;
}