body {
  font: 11px/18px "lucida grande", verdana, arial, helvetica, sans-serif;
  background: white;
  color: #333;
}

#header {
  height: 72px;
  background: #369;
  border-top: solid 1px #369;
  margin-bottom: 0px;
}

#header h1 {
  position: absolute;
  color: #F3F3F3;
  font-weight: bold;
  margin: 4.5px 18px;
}

#header li a {
  color: #333;
  padding: 3px 9px 3px;
}

#header li.active a {
  padding: 3px 9px 3px;
}

#link-log-out {
  float: right;
  margin: 9px 18px;
}

#nav-main {
  list-style: none;
  margin: 48px 0px 0px 18px;
  height: auto;
}

#nav-main li {
  float: left;
  margin-right: 9px;
  height: 24px;
}

#nav-main a {
  font-size: 12px;
  background: #CCC;
  line-height: 18px;
  text-decoration: none;
}

#nav-main .active a {
  font-weight: bold;
  color: #333;
  background: #CC9 !important;
}

#status {
  position: fixed;
  background: #69C;
  color: white;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 45px;
  margin-top: -36px;
  margin-left: -100px;
  text-align: center;
  padding-top: 27px;
}

#status-img {
  vertical-align: middle;
}

#status-msg {
  font-weight: bold;
  margin-left: 9px;
}

#wrapper {
  margin: 18px auto;
  background: #EEE;
}

a {
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  line-height: 36px;
}
