
/* Default element tags */
body {
	background-color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0;
}

p {
    font-family: Arial, sans-serif;
	font-size: 12px;
}

a:link {
	color: #336699;
	text-decoration: none;
}

a:active, A:visited {
	color: #336699;
	background: none;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	background: #336699;
	text-decoration: none;
}

/* No graphics buttons */

a.button:visited, a.button:link, span.button  { 
	color: #FFFFFF;
	font-weight: Bold;
	font-size: 13px;
	text-decoration: none;
	background: url("/images/bluebg.gif");
	margin: auto;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-style: outset;
	border-width: 2px;
	border-color: #dcdcdc #696969 #696969 #dcdcdc;
	width: auto;
}

a.button:active, a.button:hover, span.button:hover, span.button:active  { 
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background-color: #336699;
	margin: auto;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-style: inset;
	border-width: 2px;
	border-color: #696969 #dcdcdc #dcdcdc #696969;
	width: auto;
	cursor: pointer;
}

a.menu:link, A.menu:visited{
	color: #FFFFFF;
	background: #336699;
	font-weight: bold;
}

a.menu:hover, A.menu:active{
	font-weight: bold;
	color: #336699;
	background: #FFFFFF;
}

td {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

hr {
	color: #336699;
	height: 1px;
}

input, textarea, select {
	font-family: Arial, sans-serif;	
	padding: 1px;
	font-size: 12px;
	background: #D0DDEA;
	color: #000000;
	border: solid 1px #336699;
	margin: 1px;
}

.required{
	background-color: #FFFF99;
}

.reqfilled, .empty{
	background-color: #D0DDEA;
}

.reqactive, .active{
	color: #336699;
	background: #FFFFFF;
}

/* Special design tags */

.boxheader {
	background: url("/images/bluebg.gif");
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	border: 1px solid #336699;
}

.box {
	border: 1px solid #336699;
	background: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.heading {
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: #336699;
	margin-bottom: 5px;
}

.pageheading {
	font-family: Arial, sans-serif;
	font-size: 24;
	color: #336699;
	text-align: right;
	font-weight: bold;
	margin-bottom: 0px;
}

.footer {
	font-family: Arial, sans-serif;
	font-size: 10px;
}


.cell {
	background-color: #FFFFFF;
}

.cell2 {
	background: #DDDDDD;
}

.cell3 {
	background-color: #336699;
	color: #FFFFFF;
}

.appbar {
	background: url("/images/bluebg.gif");
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}

.app {
	background: #DDDDDD;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding: 2px 5px;
}

.refradio {
	font-family: Arial, sans-serif;
	font-size: 11px;
}

.refradiounder {
	font-family: Arial, sans-serif;
	font-size: 10px;
	border-bottom: solid 1px #336699;
}

.appnumber {
	font-family: Courier, fixed;
	font-weight: bold;
	font-size: 30;
	padding: 2px;
	color: #336699;
	border-right: dotted 1px #336699;
	border-bottom: solid 1px #336699;
	margin: 0px;
	width: 15px;
}

.appquestion{
	padding: 5px;
	border-bottom: solid 1px #336699;
}

.highlight {
	background-color: #FF0000;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.small {
	font-family: Arial, sans-serif;
	font-size: 10px;
}


td.button{ 
	padding-top: 8px; 
	padding-bottom: 8px;
	background: #DDDDDD;
}

td.menu, TD.menuactive {
	padding:  4px;
	border: 1px solid #FFFFFF;
	text-align: right;
}

td.menuactive{
	background: #DDDDDD;
}

td.menu{
	color: #FFFFFF;
	background: #336699;
}
.warning {
	font-size: 12px;
	color: #ff3399;
	/* text-align: center; */
}
.header {
	background: url('/images/pageheaderbg.gif');
	/* For a solid color, uncomment and change the following line: */
	/* background: #006699 */
}
.fieldWithErrors {
  padding: 0px;
  background-color: red;
  display: table;
  margin: 4px;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
.payment {
/*  display: none; */
  margin-bottom: 5px;
  border: 1px black solid; 
}

#logout, #logout a {
  padding-top: 4px;
  padding-right: 8px;
  color: white;
  font-weight: bold;
}