<%= render :partial => 'panel'%>

<div id="preview" class="answer-page">
  <div id="page-preview">
  
    <div class="page">
    	<h3>STINT/Intern/PTFS Frequently Asked Questions</h3>
		
		  <%= render :partial => 'fe/questions/fe/paragraph', :locals => {:paragraph => @faq}%>
	  </div>
  </div>
</div>
