<%= render :partial => 'panel'%>

<div id="preview" class="answer-page">
  <div id="page-preview">
  
    <div class="page">
	<h3>Instructions</h3>
	
	<p>Welcome!  We are glad that you are interested in pursuing an internship with us.  Our desire is that you will enjoy a smooth application process as well as a great year of service.</p>
	
	<p>Steps to completing the Application:</p>

	<ul>
		<li>Read through the Frequently Asked Questions (FAQ's) sheet.  It is very helpful.</li>
		<li>Determine who will complete your 4 recommendations and list these on the application form.  A spouse or relative will not be accepted as one of the 4 references.  The 4 people should be:
			<ol>
				<li>CCC staff member*</li>
				<li>Current discipler or Bible study leader**</li>
				<li>Roommate. (If you have no current roommate, use a past roommate or friend who knows you well.)</li>
				<li>Friend who knows you well</li>
			</ol>

			<p>*If you are not on a staffed campus, you should have the staff member you relate to most complete a reference. If you are not involved with a Campus Crusade ministry, choose the person/people to whom you are most accountable spiritually (e.g. discipler, Bible study leader, pastor, etc.).</p>

			<p>**If this is the same as #1, choose another staff member, summer project leader, or someone who knows you well in ministry.</p>

			<p>After you have filled in the information for your references in the application, ask them to complete the reference by clicking the link in the email that they will receive from our system.</p>
		</li>
		<li>Complete the U.S. Intern/STINT Application.</li>
		<li>Complete, if applicable, the Drug/Tobacco Form.</li>
		<li>Deadlines and Late Fees: The deadline for submitting <u>completed</u> applications is <b>March 1st</b>. An application is complete when we have received your application, biographical material, all elaboration forms and questionnaires, all references, your signature page, and application fee.   It is <b><u>your</u></b> responsibility to see that all these get completed.  A March 1st deadline means that all parts listed above have been submitted <b>before March 1st</b>.  We <u>will not guarantee</u> the processing of any application received after March 1st.  <u>Late applications will be charged a $50 non-refundable application fee</u>.   The processing time for late applications may also be longer.</li>
	</ul>
	</div>
  </div>
</div>
