<div id="controls">
  <div id="panel">
	<div id="panel-pages" class="panel" style="display:block;">
	  <ul id="list-pages">
	    <li><a href="/info_pages/home" title="">Home</a></li>
	    <li><a href="/info_pages/about_us" title="">About Us</a></li>
	    <li><a href="/info_pages/contact_us" title="">Contact Us</a></li>
	    <li><a href="/info_pages/opportunities" title="">STINT/Internship Opportunities</a></li>
	    <li class="active"><a href="/info_pages/privacy_policy" title="">Privacy Policy</a></li>
	  </ul>
	  
	</div>
  </div>
</div>

<div id="preview" class="answer-page">
  <div id="page-preview">
  
    <div class="page">
    	<h3>Privacy Policy</h3>

<h4>Sharing of Information</h4>

<p>Cru (Campus Crusade for Christ) will not share any visitor information (including email addresses) with any third party.</p>

<h4>Purchases, Donations, and Registrations</h4>

<p>This site uses a Secured Socket Layer (SSL) server for its order forms and for ministry partners to make donations and purchases online. For this, users need to provide contact and financial information. Information collected from a person may be used to verify his or her qualifications for registration and to bill them for products and services.</p>

<h4>Third Parties</h4>

<p>This site contains links to other Web sites. The ministry is not responsible for the privacy practices or content of such Web sites.</p>

<h4>Security</h4>

<p>This site has security measures in place to prevent the loss, misuse, and alteration of the information under the ministry's control.</p>
	</div>
  </div>
</div>
